spring:
  application:
    name: notification-service

  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: notification-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "dev.gedfalk.notificationservice.dto"
        spring.json.use.type.headers: false
        spring.json.value.default.type: dev.gedfalk.notificationservice.dto.UserEventDto

  mail:
    host: localhost
    port: 3025
    protocol: smtp
    default-encoding: UTF-8
    properties:
      mail:
        debug: true
        smtp:
          auth: false
          starttls:
            enable: false
          connectiontimeout: 5000

server:
  port: 8082

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html