spring:
  application:
    name: notification-service

  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: notification-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "dev.gedfalk.notificationservice.dto"
        spring.json.use.type.headers: false
        spring.json.value.default.type: dev.gedfalk.notificationservice.dto.UserEventDto

server:
  port: 8082